body.home-index {

  div.profiler-results {  top: auto;  bottom: 0;  }


  .navbar-item a.sign-up {  top:0px;  }


  section.light-gray-bg {  padding-top: 0;  }


  #ninja-slider .slider-inner {  margin: 111px 0 -50px 0px;  }


  a.ns-img {  border-bottom: 1px $navyblue solid;  }


  #after-slider {  padding: 1em; margin: 2rem; padding-bottom: 2em;  }


  .caption {  margin-top: 3rem !important;  }


  .flexslider .slides p { font-family: "Yantramanav"; font-weight: 300; }


  #lazy_body { .signup-link {  color: #265C83;  } }

  footer {
    background-color: #282832;;
    text-align:center;
    width:100%;
    padding:78px 0px;

    .bg {
      width: 228px;
      height: 52px;
      background-color: #2bb673;
      color: #fff;
      margin: 0 auto;
      line-height: normal;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 1.9px;
      font-family:"Yantramanav";
      border:none;

      &:hover {
        width: 228px;
        height: 52px;
        background-color: #2bb673;
        color: #fff;
        margin: 0 auto;
        line-height: normal;
        font-size: 15px;
        border:none;
      }
    }

    p {
      a:link{
        font-size: 15px;
        letter-spacing: 1.9px;
        color: #2bb673;
      }
    }
  }

  .home-left-section {
    background: url(rate_beats.png), url(big-rate.png), ;
    background-repeat: no-repeat;
    background-position:10px 20px , 231px 200px ;
    background-size: auto , 220px;
  }


  .home-right-section {
    background: url(give_feedback.png), url(give_feedback.png);
    background-repeat: no-repeat;
    background-position:right 60px top 0px, right 277px top 126px ;
    background-size: 160px auto, 214px auto;
  }

  .flexslider .slides { zoom: 1.1;  }
}
