body.tracks {
  &.tracks-new {
    section.light-gray-bg { padding-top: 41px; padding-bottom: 14vh; }
    .chosen {
      img  { width: 35px; }
      span { font-weight: bold; font-size: 12px; }
    }
    .beat-title { width: 100%; }
  }
}

.track-filter{ margin-top: 10px;}

.track-filter { bottom: -2.6rem; }

.track-filter p {
  color: #ffffff;
  font-family: "Yantramanav";
  font-size: 14px;
  letter-spacing: 1.5px;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 30px;
}

.styled-select {
  background: rgba(0, 0, 0, 0) url("track-arrow2.png") no-repeat scroll right 15px top 15px;
  height: 45px;
  overflow: hidden;
  width: 230px;
  float: right;
}
.styled-select select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 45px;
  padding: 5px 12px;
  width: 230px;
}
.styled-select select option {
  padding: 5px 12px;
  box-shadow: none;
}
.black { background-color: #373745; }

.black select {
  font-family: "Yantramanav";
  font-size: 15px;
  color: #9c9c9c;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.bs-docs-example { padding-top: 18px; }

.pagination-spinner{
  text-align: center;
  align-content: center;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-weight: bold;
  font-size: large;
  background-color: #f5f7fa;
  span { margin: 0 auto; padding: 50px 0; }
}
.empty-block-beat {
  height: 50px;
  margin-bottom: 10px;
}
