@import 'fonts';

body.waitlists-index {
  section.light-gray-bg {
    padding-top: 0;
    padding-bottom: 1rem;
  }
  @media screen and (max-width: 995px) {
    .space { width: 300px !important; }
    .notes-text { width: 100%; }
  }
}


.drop-content h2 {
  color: #2bb673;
  display: block;
  font-family: "Yantramanav";
  font-size: 20px;
  line-height: normal;
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-transform: uppercase;
}
.drop-content span {
  color: #9a9a9a;
  font-family: 'Yantramanav';
  font-size: 14px;
}
.drop-content .profile-logo {
  border-radius: 100%;
  height: 100px;
  margin-bottom: 23px;
  width: 100px;
}
.drop-theme-basic.drop-target-example-hover-card.drop-element .drop-content .drop-content-inner .avatar .verified-icon {
  margin-left: 71px;
  padding-right: 0;
  position: absolute;
  vertical-align: top;
}
.drop-theme-basic.drop-target-example-hover-card.drop-element .drop-content .drop-content-inner .avatar .verified-icon img{
  width: 30px;
}
.drop-element.drop-theme-arrows-bounce.drop-out-of-bounds {
  display: none; }

.drop-element .drop-target {
  display: block;
  padding: 20px;
  background: #cccccc; }

.button {
  display: inline-block;
  border: 2px solid #333333;
  color: #333333;
  padding: 1em 1.25em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8em;
  line-height: 1.3em; }

.button.dark {
  background: #333333;
  color: white; }

.drop-hero.drop-element.drop-theme-arrows-bounce-dark .drop-content {
  padding: 40px; }
.drop-hero.drop-element.drop-theme-arrows-bounce-dark h1, .drop-hero.drop-element.drop-theme-arrows-bounce-dark h2, .drop-hero.drop-element.drop-theme-arrows-bounce-dark p {
  text-align: center;
  margin: 0;
  font-weight: 100; }
.drop-hero.drop-element.drop-theme-arrows-bounce-dark h1 {
  margin-bottom: 40px; }
.drop-hero.drop-element.drop-theme-arrows-bounce-dark h2 {
  margin-bottom: 45px; }
.drop-hero.drop-element.drop-theme-arrows-bounce-dark h1 {
  font-size: 45px;
  line-height: 1; }
.drop-hero.drop-element.drop-theme-arrows-bounce-dark .button {
  font-weight: 100;
  color: white;
  border-color: white;
  width: 200px;
  max-width: 100%; }
@media (max-width: 768px) {
  .drop-hero.drop-element.drop-theme-arrows-bounce-dark .drop-content {
    padding: 20px; }
  .drop-hero.drop-element.drop-theme-arrows-bounce-dark h1 {
    font-size: 30px;
    margin-bottom: 20px; }
  .drop-hero.drop-element.drop-theme-arrows-bounce-dark h2 {
    font-size: 18px;
    margin-bottom: 25px; } }

.drop-theme-basic.drop-target-example-hover-card.drop-element {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  opacity: 0;
  z-index: 3}
.drop-theme-basic.drop-target-example-hover-card.drop-element.drop-open {
  display: none; }
.drop-theme-basic.drop-target-example-hover-card.drop-element.drop-open-transitionend {
  display: block; }
.drop-theme-basic.drop-target-example-hover-card.drop-element.drop-after-open {
  opacity: 1; }
.drop-theme-basic.drop-target-example-hover-card.drop-element .drop-content {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
  -moz-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
  background: transparent;
  padding: 0;
  width: 200px;
  height: auto;
  background-color: #fff;
  box-shadow: 0 7px 35px #666;
  padding: 30px 0;}
.drop-theme-basic.drop-target-example-hover-card.drop-element .drop-content .hover-card-mask img, .drop-theme-basic.drop-target-example-hover-card.drop-element .drop-content .hover-card-image img {
  position: absolute;
  width: 200px;
  height: 246px; }
.drop-theme-basic.drop-target-example-hover-card.drop-element .drop-content .hover-card-mask {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 14px;
  height: 7px;
  -webkit-mask-position: 0;
  -webkit-mask-repeat: no-repeat; }
.drop-theme-basic.drop-target-example-hover-card.drop-element .drop-content .hover-card-mask img {
  left: -193px; }
.drop-theme-basic.drop-target-example-hover-card.drop-element .drop-content .hover-card-image {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  overflow: hidden;
  width: 200px;
  height: 246px; }
.drop-theme-basic.drop-target-example-hover-card.drop-element .drop-content .hover-card-image:after {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0; }
.drop-theme-basic.drop-target-example-hover-card.drop-element .drop-content .drop-content-inner {

  text-align: center;}
.drop-theme-basic.drop-target-example-hover-card.drop-element .drop-content .drop-content-inner .avatar {
}
.drop-theme-basic.drop-target-example-hover-card.drop-element .drop-content .drop-content-inner .avatar img {
  display: inline-block; }
.drop-theme-basic.drop-target-example-hover-card.drop-element .drop-content .drop-content-inner .name, .drop-theme-basic.drop-target-example-hover-card.drop-element .drop-content .drop-content-inner .title {
  position: absolute;
  color: white;
  line-height: 1;
  text-align: center; }
.drop-theme-basic.drop-target-example-hover-card.drop-element .drop-content .drop-content-inner .name {
  color: #2bb673;
  display: block;
  font-family: 'Yantramanav';
  font-size: 20px;
  line-height: normal;
  margin: 0;
  padding: 0;
  text-transform: uppercase; }
.drop-theme-basic.drop-target-example-hover-card.drop-element .drop-content .drop-content-inner .title {
  left: 140px;
  bottom: 24px;
  font-size: 16px;
  font-weight: 100; }
.drop-theme-basic.drop-target-example-hover-card.drop-element.drop-pinned .drop-content .hover-card-image img {
  top: 0;
  bottom: auto; }
.drop-theme-basic.drop-target-example-hover-card.drop-element.drop-element-attached-top .drop-content .hover-card-mask, .drop-theme-basic.drop-target-example-hover-card.drop-element.drop-element-attached-bottom .drop-content .hover-card-mask {
  display: block; }
.drop-theme-basic.drop-target-example-hover-card.drop-element.drop-element-attached-top .drop-content .hover-card-image, .drop-theme-basic.drop-target-example-hover-card.drop-element.drop-element-attached-bottom .drop-content .hover-card-image {
  height: 239px; }
.drop-theme-basic.drop-target-example-hover-card.drop-element.drop-element-attached-top .drop-content .hover-card-mask {
  top: 0;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAHAQMAAAACie5aAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAAB1JREFUCNdjYGZgYG9g4D/AIP+Awf4DQ/0Phv9/AC9MBvpONp+aAAAAAElFTkSuQmCC); }
.drop-theme-basic.drop-target-example-hover-card.drop-element.drop-element-attached-top .drop-content .hover-card-mask img {
  top: 0; }
.drop-theme-basic.drop-target-example-hover-card.drop-element.drop-element-attached-top .drop-content .hover-card-image {
  top: 7px; }
.drop-theme-basic.drop-target-example-hover-card.drop-element.drop-element-attached-top .drop-content .hover-card-image img {
  top: -7px; }
.drop-theme-basic.drop-target-example-hover-card.drop-element.drop-element-attached-bottom .drop-content .hover-card-mask {
  bottom: 0;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAHAQMAAAACie5aAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAAB1JREFUCNdj+P+Hof4Hg/0HBvkHDPwHGNgbGJgZAGA8Bvqkms0ZAAAAAElFTkSuQmCC); }
.drop-theme-basic.drop-target-example-hover-card.drop-element.drop-element-attached-bottom .drop-content .hover-card-mask img {
  bottom: 0; }
.drop-theme-basic.drop-target-example-hover-card.drop-element.drop-element-attached-bottom .drop-content .hover-card-image {
  bottom: 7px; }
.drop-theme-basic.drop-target-example-hover-card.drop-element.drop-element-attached-bottom .drop-content .hover-card-image img {
  bottom: -7px; }

@-webkit-keyframes up-and-down {
  0% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }

  50% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  100% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); } }

@-moz-keyframes up-and-down {
  0% {
    -moz-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }

  50% {
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  100% {
    -moz-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); } }

@-o-keyframes up-and-down {
  0% {
    -o-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }

  50% {
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  100% {
    -o-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); } }

@-o-keyframes up-and-down {
  0% {
    -o-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }

  50% {
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  100% {
    -o-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); } }
