@font-face {
  font-family: 'Yantramanav';
  src: font-path('yantramanav-medium-webfont.eot');
  src: font-path('yantramanav-medium-webfont.eot?#iefix') format('embedded-opentype'), font-path('yantramanav-medium-webfont.woff2') format('woff2'), font-path('yantramanav-medium-webfont.woff') format('woff'), font-path('yantramanav-medium-webfont.ttf') format('truetype');
  font-style: normal;
}
