.artist

  &__wrap
    margin-bottom: 20px

  &__info
    padding-top: 0

  &__thumb
    width: 40px
    height: 39px

  &__header
    background-color: $black
    padding: 15px
    margin: 0

    span
      display: inline-block
      margin: 0 5px
      vertical-align: middle

      span
        img
          padding-top: 11px

      h4
        margin: 5px 0 0 0
        font-weight: 300
        font-size: 22px
        color: $primary
        text-transform: capitalize

        span
          color: $white
          padding-left: 7px

  &__header-bottom
    background-color: $white

    .top-list
      padding: 20px

      a
        color: $primary
        text-transform: uppercase
        font-size: 15px
        font-weight: 500
        letter-spacing: 2.2px

  &__streams
    position: relative
    background: url('stream-bg.png')
    max-height: 118px

    .fill-1
      z-index: 2
